
<div ng-controller="View1Ctrl" class="row">
    <div class="col-md-4 col-lg-4">
        <h2>{{message}}</h2>
        <h3>{{action}}</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="unicorn.name">
        </div>
        <div class="form-group">
            <label>Gender</label></br>
            <input type="radio"  ng-model="unicorn.gender" value="F">F
            <input type="radio" ng-model="unicorn.gender" value="M">M
        </div>
        <div class="form-group">
            <label>Dob</label>
            <input type="date" class="form-control" ng-model="unicorn.date">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="number" class="form-control" ng-model="unicorn.weight">
        </div>
        <label>Likes </label> <label ng-repeat="like in unicorn.likes">{{like}} </label>
        <div class="form-inline">
            <input type="text" class="form-control" ng-model="input.like">
            <button ng-click="addLikes()" class="btn btn-primary">Add</button>
        </div>
        <div class="form-group">
            <label>Vampire(s) killed</label>
            <input type="number" class="form-control" ng-model="unicorn.vampires">
        </div>
        <button ng-click="ok()" class="btn btn-success">OK</button>
    </div>
    <div class="col-md-8 col-lg-8">
        <table class="table table-bordered table-hover">
            <thead><tr>
                <td>Name</td>
                <td>Date of Birth</td>
                <td>Weight</td>
                <td>Gender</td>
                <td>Likes</td>
                <td>Vampires Killed</td>
                <td>Remove</td>
                <td>Update</td>
            </tr></thead>
            <tr ng-repeat="un in unicorns">
                <td>{{un.name}} </td>
                <td>{{un.date}} </td>
                <td>{{un.weight}} </td>
                <td>{{un.gender}} </td>
                <td>{{un.likes.join(" ")}} </td>
                <td>{{un.vampires}} </td>
                <td><button class="btn btn-danger" ng-click="deleteUnicornClick(un._id)">Remove</button></td>
                <td><button class="btn btn-warning" ng-click="getUnicorn(un._id)">Update</button></td>
            </tr>
        </table>
    </div>
</div>